<section id="education" class="education reveal">

    <h2>Education</h2>

    <div class="education-container">

        <div class="edu-card">
            <h3>B.Tech in Computer Science Engineering</h3>
            <h4>University of Engineering & Management, Kolkata</h4>
            <span>2022 - 2026</span>
            <p>CGPA : <strong>9.23</strong></p>
        </div>

        <div class="edu-card">
            <h3>Higher Secondary (Class XII)</h3>
            <h4>CBSE</h4>
            <span>2022</span>
            <p>Science Stream</p>
        </div>

        <div class="edu-card">
            <h3>Secondary (Class X)</h3>
            <h4>CBSE</h4>
            <span>2020</span>
            <p>General Studies</p>
        </div>

    </div>

</section>