<footer class="footer reveal">

    <div class="footer-container">

        <!-- Left -->

        <div class="footer-left">

            <h2 class="footer-name">

                Poulami Sinha

            </h2>

            <h4>Python Developer</h4>

            <h4>AI Engineer</h4>

            <h4>Machine Learning Enthusiast</h4>

            <p class="footer-description">

                "Building intelligent applications
                that solve real-world problems."

            </p>

        </div>

        <!-- Right -->

        <div class="footer-right">

            <h3>Contact</h3>

            <p>

                <i class="fa-solid fa-location-dot"></i>

                West Bengal, India

            </p>

            <p>

                <i class="fa-solid fa-phone"></i>

                +91 9476427375

            </p>

            <p>

                <i class="fa-solid fa-envelope"></i>

                poulamisinha2004@gmail.com

            </p>

            <div class="social-icons">

                <a href="https://github.com/Poulami-sinha2004"
                   target="_blank">

                    <i class="fa-brands fa-github"></i>

                </a>

                <a href="https://linkedin.com/in/YOUR-LINKEDIN"
                   target="_blank">

                    <i class="fa-brands fa-linkedin"></i>

                </a>

                <a href="mailto:poulamisinha2004@gmail.com">

                    <i class="fa-solid fa-envelope"></i>

                </a>

            </div>

<a

href="{{ url_for('static',
filename='resume/Poulami_Resume.pdf') }}"

download

class="resume-btn">

<i class="fa-solid fa-download"></i>

Download Resume

</a>

        </div>

    </div>

    <hr>

    <div class="copyright">

        © 2026 Poulami Sinha

    </div>

</footer>