<section id="home" class="hero reveal">

<div class="hero-left">

<h1>Hello, I'm Poulami 👋</h1>

<h2>

<span id="typing-text"></span>

<span class="cursor">|</span>

</h2>

<p>

Passionate about AI, Flask,
Machine Learning and
Backend Development.

</p>

<a
href="{{ url_for('static', filename='resume/Poulami_Resume.pdf') }}"
download
class="resume-btn">

Download Resume

</a>

</div>

<div class="hero-right">

<img src="{{ url_for('static',
filename='images/profile.png') }}" alt="Poulami Sinha">

</div>

</section>